extends layout

block content
  .ticket-logo.text-center
      img(src='/images/ticket.png')
  .ticket-processing.row
    form.ticket-processing-form
      .col-sm-6.col-md-4.col-md-offset-2
        .form-group
          label(for='ticket_number') Ticket Number
          .input-group
            input.form-control(type=text, name='ticket_number', id='ticket_number')
            span.input-group-btn
              button.btn.btn-primary(type=submit) Submit
        .ticket-processing-info

      aside.col-sm-6.col-md-4.well
        h2.text-center Checkin Options
        .form-group
          label(for='service') Service Time
          select(id='service', name='service').form-control
            option(value='12:00pm') 12:00pm
            option(value='3:00pm') 3:00pm

        .checkbox
          label(for='success_sound')
            input(type='checkbox' id='success_sound' name='success_sound' checked)
            | Play sound when scan succeeds

        .checkbox
          label(for='failure_sound')
            input(type='checkbox' id='failure_sound' name='failure_sound' checked)
            | Play sound when scan fails

        hr

        .text-right
          small Sounds from <a href='http://rcptones.com/dev_tones/'>dev_tones</a>
