doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/css/app.css')
    link(rel='apple-touch-icon' href='/images/REZervation-icon-1024px.png')
    link(rel='apple-touch-icon' sizes='76x76' href='/images/REZervation-icon-76px.png')
    link(rel='apple-touch-icon' sizes='120x120' href='/images/REZervation-icon-120px.png')
    link(rel='apple-touch-icon' sizes='152x152' href='/images/REZervation-icon-152px.png')
  body
    .container-fluid
      block content
    script(src='js/app.js')
