extends layout

block content
  #loginForm.col-md-4.col-md-offset-4
    if message != ''
      .alert.alert-danger #{message}
    .ticket-icon.text-center
      img(src='/images/REZervation-icon-180px.png')
    .panel.panel-default
      .panel-heading.text-center
        h3 Login to REZervation
      .panel-body
        form(action='/login', method='post')
          .form-group
            label Username:
            input#username.form-control(name='username')
          .form-group
            label Password:
            input#password.form-control(type='password', name='password')
          button.btn.btn-success.btn-block.btn-lg(type='submit') Login

