/* custom styles */
#loginForm {
  margin-top: 100px;
}

.ticket-processing-info {
  margin-top: 15px;
}

.ticket-icon {
  margin-bottom: 15px;
}

.ticket-logo img {
  width: 250px;
}

img {
  max-width: 100%;
}
